@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 400;
  /* 1.6*10 = 16px */
  font-size: 1.6rem;
  color: black;
}

h1,
h2,
p {
  margin: 1.2rem 0;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
  color: #800080;
}

p,
li {
  font-weight: 400;
  font-size: 1.4rem;
  color: #800080;
}

body {
  font-family: "Nerko One", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightpink;
}

.container {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  width: 400px;
  padding: 36px;
}

.adding {
  display: flex;
  gap: 54px;
}

.addButton {
  background-color: #800080;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.editButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.removeButton {
  background-color: #ff6f61;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

input {
  width: 300px;
}

.listing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 400px;
  list-style-type: none;
}

.button-container {
  display: flex;
  gap: 12px;
}

.userlist {
  word-wrap: break-word;
  inline-size: 220px;
}

.colorChange {
  background-color: yellow;
  color: black;
}
.preColor {
  background-color: aliceblue;
}

/*Hidden*/
.hidden {
  display: none;
}
